main/__pycache__/__init__.cpython-311.pyc
main/__pycache__/config.cpython-311.pyc
main/__pycache__/main.cpython-311.pyc
main/__pycache__/movement.cpython-311.pyc
main/__pycache__/run.cpython-311.pyc
main/__pycache__/init.cpython-311.pyc
